* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 4rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5rem 1fr 1fr;
    grid-template-areas: "title title title title title title title title title title title title"
        "navigation vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent"
        "navigation vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent vcontent";
}

.title-container {
    background-color: aqua;
    grid-area: title;
}

.content-container {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 5rem;
    grid-area: vcontent;
}

.navigation-container {
    list-style-type: none;
    background-color: aqua;
    grid-area: navigation;
}

.cards-container {
    display: flex;
    width: 40rem;
    height: 20rem;
    background-color: bisque;
    align-self: center;
    justify-self: center;
    border-radius: 2rem;
    list-style-type: none;
    gap: 2rem;
    flex-direction: column;
    align-items: stretch;
    justify-content:baseline;
    padding: 2rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    

}

.cards-container

.card { 
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.buttom-accept {
    padding: 1rem;
    background-color: rgb(0, 75, 0);
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
}

.buttom-edit {
    padding: 1rem;
    background-color: rgb(152, 152, 0);
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
}

.buttom-remove {
    padding: 1rem;
    background-color: rgb(109, 0, 0);
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
}

.buttom-accept:hover {
    background-color: rgb(1, 255, 1);
}

.buttom-edit:hover {
    background-color: yellow;
}

.buttom-remove:hover {
    background-color: red;
}
.closed{
    display: none;
}